body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: "pf-videotext", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 40px;
    cursor: url(../images/pixel\ plane.png), auto;
    background-color: black;
    color: white;
}

/* HEADER */

a {
    text-decoration: none;
}


header {
    background-color: #000000;
    color: #fff;
    height: 150px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.pixel-plane {
    padding-bottom: 30px;
    padding-left: none;
    margin-right: 800px;
}

h1 {
    font-size: 60px;
    color:bisque;
}

h2 {
    padding-top: 10px;
    color: orange;
}

h3 {
    font-size: 40px;
    padding-bottom: 20px;
    padding-left: 120px;
    padding-top: 20px;
    padding-right: 120px;
}


/* TIMELINE */

.timeline {
    max-width: 800px;
    background-color: rgb(255, 186, 103);
}

.timeline ul {
    list-style-type: none;
    padding: 0;
}

.timeline li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 40px;
}

.timeline li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
}

.timeline .content {
    background-color: #4d4c4c;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.timeline h3 {
    margin-top: 0;
    color: #333;
}

.timeline p {
    margin-bottom: 10px;
    color: #666;
}

.timeline .date {
    color: #999;
    font-style: italic;
    font-size: 10px;
}






/* FOOTER */
footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

p .footer{
    text-align: center;
}

@media (max-width:567px) {
    .footer {
        display: none;
    }
}