body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: "pf-videotext", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 40px;
    cursor: url(../images/pixel\ plane.png), auto;
    background-color: black;
    color: white;
}

/* HEADER */

a {
    text-decoration: none;
}

header {
    background-color: #000000;
    color: #fff;
    height: 150px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.pixel-plane {
    padding-bottom: 30px;
    padding-left: none;
    margin-right: 800px;
}

h1 {
    font-size: 60px;
    color:bisque;
}

h2 {
    padding-top: 10px;
    color: orange;
}

h3 {
    font-size: 40px;
    padding-bottom: 20px;
    padding-left: 120px;
    padding-top: 20px;
    padding-right: 120px;
    color: rgb(255, 220, 155);
}

p {
    padding-left: 120px;
    font-size: 20px;
    text-align: justify;
    padding-right: 120px;
}

p {
    font-family: "sofia-pro", sans-serif;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    color: white;
    line-height: 40px;
}
.background {
    width: 400px;
    height: 300px;
    float: right;
    margin-left: 13px;
    padding-left: 30px;
    padding-right: 120px;
    padding-top: 100px;
    padding-bottom: none;
}

.column_container {
    padding-bottom: 50px;
}

/* VIDEO CONTAINER */

.video-container {
    max-width: 800px;
    height: 500px;
    margin: 50px auto;
    padding-bottom: 100px;

}

.video-container iframe {
    width: 100%;
    height: 100%;
}


/* FOOTER */

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media (max-width:576px) {
    header {
        width: 990px;
        height: 200px;
    }

    h1 {
        font-size: 30px;
        color:bisque;
        padding-top: 5px;
    }
    
    h2 {
        padding-top: 10px;
        color: orange;
        font-size: 15px;
        line-height: 25px;
    }

    nav ul {
        list-style-type: none;
    }
    
    nav ul li {
        display: inline-block;
        margin-right: px;
        padding-bottom: 20px;
        font-size: 20px;
    }
    
    nav ul li a {
        color: #fff;
        text-decoration: none;
    }
    
    .pixel-plane {
        padding-bottom: 30px;
        padding-left: none;
        margin-right: 50px;
        padding-right: 220px;
        padding-top: 12px;
    }

    .column_container {
        padding-right: none;
        padding-left: 20px;
        width: 1000px;
    }
    footer {
        display: none;
    }

    .video-container {
        display: none;
    }
}

@media (max-width:768px) {
    header {
        width: 990px;
        height: 200px;
    }

    h1 {
        font-size: 30px;
        color:bisque;
        padding-top: 5px;
    }
    
    h2 {
        padding-top: 10px;
        color: orange;
        font-size: 15px;
        line-height: 25px;
    }

    nav ul {
        list-style-type: none;
    }
    
    nav ul li {
        display: inline-block;
        margin-right: px;
        padding-bottom: 20px;
        font-size: 20px;
    }
    
    nav ul li a {
        color: #fff;
        text-decoration: none;
    }
    
    .pixel-plane {
        padding-bottom: 30px;
        padding-left: none;
        margin-right: 50px;
        padding-right: 220px;
        padding-top: 12px;
    }

    .column_container {
        padding-right: none;
        padding-left: 20px;
        width: 1000px;
    }
    footer {
        display: none;
    }

    .video-container {
        display: none;
    }
}

@media (max-width:990px) {
    header {
        width: 990px;
        height: 200px;
    }

    h1 {
        font-size: 30px;
        color:bisque;
        padding-top: 5px;
    }
    
    h2 {
        padding-top: 10px;
        color: orange;
        font-size: 15px;
        line-height: 25px;
    }

    nav ul {
        list-style-type: none;
    }
    
    nav ul li {
        display: inline-block;
        margin-right: px;
        padding-bottom: 20px;
        font-size: 20px;
    }
    
    nav ul li a {
        color: #fff;
        text-decoration: none;
    }
    
    .pixel-plane {
        padding-bottom: 30px;
        padding-left: none;
        margin-right: 50px;
        padding-right: 220px;
        padding-top: 12px;
    }

    .column_container {
        padding-right: none;
        padding-left: 20px;
        width: 1000px;
    }
    footer {
        display: none;
    }

    .video-container {
        display: none;
    }
}